altgraph==0.17.4
aniso8601==9.0.1
auto-py-to-exe==2.44.1
blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
dnspython==2.6.1
Eel==0.17.0
Flask==3.0.3
Flask-JWT-Extended==4.6.0
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
macholib==1.16.3
MarkupSafe==2.1.5
packaging==24.1
-e git+https://github.com/stellvick/flask_api_test.git@3642d1b4a723c1a064e9059d295bea2c7ea697e0#egg=Projeto_Teste_Estudo_Flask
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
PyJWT==2.8.0
pymongo==4.8.0
pyparsing==3.1.2
pytz==2024.1
requests==2.32.3
sentry-sdk==2.11.0
setuptools==70.3.0
six==1.16.0
SQLAlchemy==2.0.31
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.4.post2
